:root {
  --bg-dark-blue: hsl(233, 47%, 7%);
  --desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --pc-white: hsla(0, 0%, 100%, 0.75);
  --st-white: hsla(0, 0%, 100%, 0.6);
  --row-width: ;
  --column-width: ;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 15px;
}

body {
  background-color: var(--bg-dark-blue);
}

.container {
  /* width: 100vw; */
  height: 100vh;
  color: var(--white);
  display: grid;
  place-items: center;
}

.card {
  max-width: 850px;
  max-height: 350px;
  background-color: var(--desaturated-blue);
  margin: auto;
  display: flex;
  flex-flow: row-reverse wrap;
  border-radius: 5px;
  overflow: hidden;
}

.card__data {
  text-align: left;
  width: 50%;
  padding: 3.5rem;
}

.card__data h1 {
  font-size: 1.9rem;
  margin-bottom: 1.3rem;
}

.card__data h1 span {
  color: var(--soft-violet);
}

.card__data > p:first-of-type {
  width: 90%;
  line-height: 22px;
  font-size: 0.8rem;
  margin-bottom: 3rem;
  color: var(--st-white);
}

.card__stats {
  font-family: 'Lexend Deca', sans-serif;
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.card__stats .stat span {
  font-weight: 700;
  font-size: 1.2rem;
}

.card__stats .stat p {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: var(--st-white);
}

.card__image {
  width: 50%;
  background-image: url('../images/image-header-desktop.jpg');
  background-size: cover;
  background-color: rgb(118, 64, 150);
  background-blend-mode: soft-light;
}

@media screen and (max-width: 750px) {
  .container {
    height: auto;
  }

  .card {
    margin: 3rem auto;
    width: 350px;
    min-width: 350px;
    height: 770px;
    max-height: 770px;
    flex-flow: column nowrap;
  }

  .card__data {
    padding: 2.8rem;
    width: 100%;
    text-align: center;
  }

  .card__data > p:first-of-type {
    margin: auto;
    font-size: 13px;
    width: 85%;
    margin-bottom: 2.7rem;
  }

  .card__stats {
    display: block;
    width: 100%;
  }

  .card__stats .stat:not(:nth-child(3)) {
    margin-bottom: 1.4rem;
  }

  .card__stats .stat p {
    font-size: 11px;
    margin-top: 0.4rem;
  }

  .card__image {
    height: 35%;
    width: 100%;
    background-image: url('../images/image-header-mobile.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
